node_modules
.env
DS_Store
.scannerwork
.vscode
.idea
dist
coverage
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.env.local
.env.development.local
.env.test.local
.env.production.local
.cache
.next
out
build
.tmp
temp
*.tsbuildinfo
.svelte-kit
*.local
*.swp
*.swo
